.typing-satisfaction-container {
  padding: 20px;
  .tsc-form-wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid #ebeef5;
    .tsc-typing {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px;
    }
  }
  .add-dialog, .update-dialog, .audit-dialog {
    .el-select, .el-date-editor {
      width: 100%;
    }
  }
  .typing-satisfaction-page {
    text-align: right;
    margin: 20px 0;
  }
  .add-dialog, .update-dialog {
    .btn-search-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 0 4px 4px 0;
      padding: 10px;
    }
  }
}
