.shiftChange-container {
  padding: 20px;
  .sc-form-wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid #ebeef5;
  }
  .shift-page {
    text-align: right;
    margin: 20px 0;
  }
}
// 面包屑导航样式
.breadcrumb-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  padding-left: 76px;
  &:before, .btn-back {
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #606266;
  }
  &:before {
    content: attr(data-before);
    left: 0;
  }
  .btn-back {
    right: 0;
    &:hover {
      text-decoration: underline;
      color: #409EFF;
    }
  }
}
.leave-dialog {
  .el-select, .el-input-number, .el-date-editor {
    width: 100%;
  }
  .el-form__leave-required {
    position: relative;
    &:before {
      content: '*';
      position: absolute;
      left: 72px;
      top: 50%;
      color: #f56c6c;
      margin-top: -12px;
    }
    .el-form__mini {
      display: inline-block;
      vertical-align: middle;
      width: 212px;
    }
  }
  .el-file__upload {
    position: relative;
    .btn-upload {
      position: absolute;
      top: 2px;
      left: 94px;
    }
  }
}
